<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>Quran Radio</name>
  <description>This is the best app ever.</description>
  <author email="info@myapp.com" href="http://www.myapp.com">Amazing App Team</author>

  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />

  <plugin name="cordova-plugin-inappbrowser" spec="1.3.0" />
  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
	 
	<plugin spec="https://github.com/ademc/bg-player" source="git" />
	
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.ademc.plugins.bg-player"
        version="1.0.0">

  <name>BgPlayer</name>

  <description>
    This plugin allows you to play background audio.
	Media player plays audio or video (only sound) files even your application goes to background.
  </description>

  <author>AdemC</author>

  <license>MIT</license>
  <keywords>android, player, media player, background, sound</keywords>


  <repo>https://github.com/ademc/bg-player.git</repo>

  <issue>https://github.com/ademc/bg-player/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/BgPlayer.js" name="BgPlayer">
    <clobbers target="window.plugins.BgPlayer" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BgPlayer">
        <param name="android-package" value="com.ademc.plugins.BgPlayer" />
      </feature>
    </config-file>
	
	<config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
    </config-file>
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--
             * Puts the service in a foreground state, where the system considers
             * it to be something the user is actively aware of and thus not a
             * candidate for killing when low on memory.
            -->
            <service android:name="com.ademc.plugins.PlayerService" />

    </config-file>

    <source-file src="src/com/ademc/plugins/BgPlayer.java" target-dir="src/com/ademc/plugins"/>
	<source-file src="src/com/ademc/plugins/PlayerService.java" target-dir="src/com/ademc/plugins"/>
  </platform>
</plugin>
  
  <icon src="icon.png" />
  <splash src="splash.png" />
</widget>





